In [1]:
# Libraries to be used 
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline
sns.set(color_codes=True)

C:\Users\jokin.ormazabal\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
# Import the file into a dataframe 

try:
    aps_failure_set=pd.read_csv(r"\\sedna\jokin.ormazabal$\$Profile\Desktop\Master\Data Prep\aps_failure_set.csv")
    print("APS Failure Set successfully imported into a dataframe")
except:
    print("Something went wrong importing the APS Failure Set")

#As comma is the defaulted delimiter, we dont need to specify it

#try to do it trough a url

APS Failure Set successfully imported into a dataframe

In [3]:
#Based on the explanation received, we know the data divides between the errors relating APS and not, 
#so we divide the main df into 2 different ones.

In [4]:
aps_failures=aps_failure_set.loc[aps_failure_set['class']=='pos']
not_aps_failures=aps_failure_set.loc[aps_failure_set['class']=='neg']

In [5]:
# EXPLANATORY DATA ANALYSIS FOR APS RELATED FAILURES

In [6]:
 # Check for null and missing values

na_values_aps_failures = aps_failures.isna().sum()
na_aps = na_values_aps_failures.to_numpy()

if np.sum(na_aps) == 0:
    print('The APS failures dataset has NO na values')
else:
    print('The APS failures dataset has na values')

The APS failures dataset has NO na values

In [7]:
# We know by looking at the data that it actually has na values but the function is not catching them. 
# This happens because the na is a string and for python the value is actually not null. 
# It is important to always manually review the data and check that the output from the code make sense.

In [8]:
# We will now look for values equal to 'na'

na_values_aps_failures=aps_failures.isin(['na']) #creates a df with True for values=='na' & false for values !='na'

if (na_values_aps_failures.any().any())==True: 
    print('The APS failures dataset has values equal to na')
else:
     print('The APS failures dataset has NO values equal to na')

The APS failures dataset has values equal to na

In [9]:
# As we suspected, we actually have null values. 
# These values will need to be excluded from any statistical analysis and python has ways to do so. 
#The best method will be to convert those na values into propper NaN's so that the code recognises them latter.

In [10]:
aps_failures=aps_failures.replace("na",np.nan) 
aps_failures=aps_failures.replace("",np.nan) # In case there are any blank values, we convert them as NaN as well

na_aps = na_values_aps_failures.to_numpy()

if np.sum(na_aps) == 0:
    print('The APS failures dataset has NO na values')
else:
    print('The APS failures dataset has na values')

The APS failures dataset has na values

In [11]:
# Now that we identified the existance of NaN values we will contextualize them and decide if we can drop them.

In [12]:
aps_failures.shape

(1000, 171)

In [13]:
# We know that we have 1000 rows and 171 columns. So now It will interesting to see which columns have a great % of nulls

In [14]:
print((aps_failures.isnull().sum()/1000*100)) # Get the % of nulls by column

class      0.0
aa_000     0.0
ab_000    77.1
ac_000    46.2
ad_000    64.5
          ...
ee_007     0.5
ee_008     0.5
ee_009     0.5
ef_000    37.7
eg_000    37.7
Length: 171, dtype: float64

In [18]:
High_null_aps_failures=(aps_failures.isnull().sum()/1000*100)>30 # Identify the columns with > than 30% of null values

#High_null_aps_failures = High_null_aps_failures.rename(columns={'False': 'Test'})
#High_null_aps_failures=High_null_aps_failures.rename(columns=lambda x: 'Test' if x == 'False' else x)

#High_null_aps_failures=High_null_aps_failures.loc[High_null_aps_failures['% of Nulls']=='True'] #Data frame with only columns with > 30% of nulls

In [ ]:
print(High_null_aps_failures)